@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my demo app!</h1>
    <p>Learn about <a href="https://shehackspurple.dev">building secure software</a>.</p>
    <p><img src="~/images/SHEHACKStransparanback.png" width="150" /></p>
</div>
